* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  /* user-select: none; */
}

table {
  background-color: black;
  border-radius: 4px;
  /* overflow: hidden; */
  /* border: 1px solid black; */
}

td {
  width: 20px;
  height: 20px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 2px;
  overflow: hidden;
}

td.filled {
  background-color: black;
}

td.placing {
  background-color: green;
}

#main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

#row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#playerShips,
#playerBoard,
#botBoard {
  margin: 5px;
}

#playerShips {
  display: flex;
  flex-direction: column;
}
#botBoard td:hover {
  background-color: darkseagreen;
}

.displayShip {
  border-radius: 2px;
  border: 1px solid black;
  display: flex;
  position: relative;
}

.displayShip .flag {
  border: 1px solid black;
  width: 22px;
  height: 20px;
  /* background-color: aqua; */
}
